<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See in details</title>
    <link rel="stylesheet" href="/new/new.css">
</head>
<body>
        <h1>Post Details</h1>
        <br>
        <a href="http://localhost:8080/post"><button>back</button></a>
        <br>
        <br>
        <div>
        <h3>Username:&nbsp;&nbsp;@<%= post.name  %> &nbsp; &nbsp; &nbsp; &nbsp; <br>
            <br> id:&nbsp;<%= post.id %></h3>
        <h4>Content:&nbsp;&nbsp;<%=  post.content %></h4>
        </div>
        
</body>
</html>